// MOBILE PAY
 

.hpy_modular.page-mobilepay {
 
	#alwaysready {
		background: url('https://prod-heartland.azureedge.net/-/media/heartland/Mobile-Pay/dependibility-background.jpg') no-repeat scroll center center;
		background-size: cover;
		color: $white;
		padding: 100px 0 110px;
	}
}