// SERVICE PROFESSIONALS
 

.hpy_modular.page-hfsp {
	
	
	#service {		
		h4 {
			margin-bottom: 14px;
		}
	}
	
	
	section#productive-features {
		background: url('https://prod-heartland.azureedge.net/-/media/heartland/hfsp/features-bg.jpg') no-repeat scroll top center;
		min-height: 700px;
	}
	
	
	
	
}