// SITUATION ROOM
 

.hpy_modular.page-situationroom {
	
	.hero {
		padding: 10px 0 10px;
		min-height: 500px;
		
		h5 {
			font-size: 15px;
		}
		
		p {
			color: #94ccf9;
		}
	
	}
	
	
	
	
	
	
	
	
	
}