// TERMINAL+ PAGE
 

.hpy_modular.page-terminalplus {
	
	#run-business .hpy_grid {
		margin-bottom: 75px;
	}
	
	.card-flip {
	  width: 100%;

		.front,
		.back {
			padding: 55px 0;
			
			p {
				padding: 0 10px;
			}
		}
	}
	
}