// FAQ
 

.hpy_modular {
	
	
	#learn .faq aside {
		padding: 10px 45px;
		
		&.question {
			background-color: $color-light-grey;
		}
		
		&.answer {
			margin-bottom: 40px;
			padding-top: 20px;
			
			p {
				margin-bottom: 0;
			}
		}
		
		h3 {
			font-size: 59px;
			font-weight: bold;
			line-height: 1;
			color: #d0d0d0;
			margin: 0;
		}
	}
	
}