// ALL HEROS
// some heros that have sub items are still on their THEME specific SCSS file. 

.hpy_modular .hero {	
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
	background-size: cover;
}	


// microsite-main
.hpy_modular.page-micro-main .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/restaurant/rest-hero-q2.jpg');			
}	

.hpy_modular.page-micro-main .hero.hero-2 {
	background-image: url('../../../assets/images/mid-bg.jpg');			
}	

// restaurant
.hpy_modular.page-restaurant .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/restaurant/rest-hero-q2.jpg');			
}	

// online ordering
.hpy_modular.page-onlineordering .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/restaurant/onlineordering-hero.jpg');			
}	

// surcharge
.hpy_modular.page-surcharge .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/surcharge/hero.jpg');			
}

// all product / product showcase
.hpy_modular.page-allproduct .hero {
		background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/Product-Showcase/hero.jpg');	
}

// posintegrations
.hpy_modular.page-posintegrations .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/pos-integrations/posinetegrations-hero.jpg');	
}

// pcamerica
.hpy_modular.page-pcamerica .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/pcamerica/pcamerica-hero.jpg');
}

// payroll
.hpy_modular.page-payroll .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/payroll/payroll-hero-q2.jpg');	
}
.hpy_modular.page-payroll_hr .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/payroll/plus-hr-hero.jpg');	
}
.hpy_modular.page-payroll_paycard .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/payroll/netspend-promo-landing-bg.jpg');	
}

// hero_mobilepay
.hpy_modular.page-mobilepay .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/Mobile-Pay/mobilepay-hero.jpg');			
}

// liquorpos
.hpy_modular.page-liquorpos .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/liquorpos/liquorpos-hero.jpg?v=123123');	
}

// instantdeposit
.hpy_modular.page-instantdeposit .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/new-header-https://prod-heartland.azureedge.net/-/media/heartland/covid-19-response/instant-deposit-hero.jpg?modified=20190827154657');
}

// dinerware
.hpy_modular.page-dinerware .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/dinerware/dinerware-hero.jpg');	
}

// digitaldining
.hpy_modular.page-digitaldining	.hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/digital-dining/digitaldining-hero.jpg');	
}

// contactsales
.hpy_modular.page-contactsales .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/digital-dining/digitaldining-hero.jpg');	
}

// retailpos
.hpy_modular.page-retailpos .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/retailpos/hero.jpg');	
}

// restaurantpos
.hpy_modular.page-restaurantpos .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/restaurantpos/hero.jpg');	
}

// refer-to-win
.hpy_modular.page-refertowin .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/refertowin/refertowin-hero.jpg?v=0106202080085');	
}

// careers
.hpy_modular.page-careers .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/careers/careers-hero.jpg');	
}

// signin
.hpy_modular.page-signin .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/signin/signin-hero.jpg');	
}

// payments
.hpy_modular.page-payment-processing .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/payment-processing/hero');	
}

// capital
.hpy_modular.page-capital .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/capital/hero.jpg');	
}
.hpy_modular.page-capital.page-capital_cares .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/capital/careact-hero.jpg');	
}

// terminal+
.hpy_modular.page-terminalplus .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/terminalplus/hero.jpg');	
}

// terminals
.hpy_modular.page-terminals .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/terminals/hero.jpg?v=0226202080085');	
}

// register20
.hpy_modular.page-register20 .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/register20/hero.jpg?v=0106202080085');	
}

// point of sale
.hpy_modular.page-pointofsale .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/pointofsale/hero.jpg?v=0306202080085');	
}

// heartland for service professionals
.hpy_modular.page-hfsp .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/HfSP/hero.jpg');	
}

// netspend
.hpy_modular.page-netspend .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/netspend/hero.jpg');	
}

// situation room
.hpy_modular.page-situationroom .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/situationroom/hero.jpg');	
}

// situation room
.hpy_modular.page-challengeswithpayment .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/challenge/hero.jpg');	
}

// customer engagement
.hpy_modular.page-customer-engagement .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/customerengagement/hero.jpg');	
}

// covid-19 response
.hpy_modular.page-covid19-response .hero {
	background-image: url('https://prod-heartland.azureedge.net/-/media/heartland/covid-19-response/hero.jpg');	
}
