// INPUTS


// honeypot hidden
.hph {
	position: absolute; 
	left:-9999px; 
	top: -9999px;
}


// bulldog design forms
.hpy_modular .form-pardot {	
	margin: 0 auto;
	padding: 35px;
	max-width: 420px;
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.25);
	border-radius: $border-radius;
	font-size: $font-size-default;
	background-color: $hero-bg-color;
	color: $form-color;
	
	h2 {
		margin-bottom: 15px !important;
	}
	
	p {
		margin-bottom: 20px !important;
		color: $fine-print-color !important;
	}
			
	label {
		font-size: 16px !important;
		font-weight: 900 !important;
		display: block;
		margin-bottom: 10px;
	}		
		
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		font-size: 16px;
		height: auto;
		max-width: 80%;
		padding: 13px 13px;
		margin-bottom: 15px;
		border: 1px solid $white;
		outline: none !important;
		border-radius: $border-radius;
		color: #555;
		
		&:focus,
		&:active {
			border: 1px solid $primary-2;
		}
		
		&.error {
	    border-bottom: 1px solid $primary-1 !important;
		}
	}

	
	.button {
		margin-bottom: 20px !important;
		font-family: "Arial", sans-serif !important;
	}

	.no-bot-margin {
		margin-bottom: 0 !important; 
	}
	
	a {
		color: $primary-text-color;
		border-color: $primary-text-color;
		
		&:hover {
			color: $black;
			border-color: $black;
		}
	}
}




// select box
.hpy_modular .styled-select {
	background: #fff url("https://go.heartlandpaymentsystems.com/l/125771/2019-03-26/6hy52k/125771/93234/select_box.jpg") no-repeat 100% 50%;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 35px;

	select {
		font: 300 17px $primary-font;
		padding: 14px 20px 14px 15px;
		width: 100%;
	  color: #555;
    background: transparent !important;
    border: none;
    -webkit-appearance: none;
		outline: none;
		height: 52px;
		box-shadow: none !important;
		
		option {
		  color: #555;
		}
	}
}


/* Styling Checkbox Starts */
.hpy_modular .checkbox-label {
  display: inline-block;
  position: relative;
  margin: 0 20px 40px 0;
  cursor: pointer;
	padding-left: 35px;
	font-weight: bold;

	input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
	}

	.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
		background: $white;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    border: 1px solid #979797;
	}

	input:checked ~ .checkbox-custom {
		background: #fafafa;
    border-radius: 3px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #979797;
	}

	.checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 11px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border: solid $black;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
	}

	input:checked ~ .checkbox-custom::after {
	  transform: rotate(45deg) scale(1);
	  opacity: 1;
		left: 7px;
    top: 2px;
    width: 5px;
    height: 11px;
	  border: solid $black;
	  border-width: 0 2px 2px 0;
	  background-color: transparent;
	  border-radius: 0;
	}

}


// top header form updates
.hpy_modular.form-hero #signup-form,
.hpy_modular.form-hero #form-signup {	
	margin: 30px 0 0;
	padding-bottom: 20px;
		
	form h3 {
		margin-bottom: 20px !important;
		font-size: 25px !important;
	}
	
	form label {
		font-size: 16px;
		display: block;
		margin-bottom: 3px;
	}		
}


.hpy_modular.form-hero #signup-form .form-pardot,
.hpy_modular.form-hero #form-signup .form-pardot {
	background: #efefef;
	padding: 35px;
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.25);
	max-width: 550px;
	margin: auto auto 30px;
	border-radius: $border-radius;
	
	textarea,
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="tel"] {
		font-size: 17px;
		height: auto;
		max-width: 100%;
		padding: 10px 10px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		outline: none !important;
		  color: #555;
		
		&:focus,
		&:active {
			border: 1px solid $primary-2;
		}
	}
}


// old form design. will be removed once we have converted to new designs above
.hpy_modular #developer-signup .form-pardot {
	background: #fefefe;
	padding: 30px;
	// box-shadow: -50px 32px 71px 14px rgba(0,0,0,0.05);
	max-width: 550px;
	margin: auto auto 30px;
		
	h3 {
		font-weight: 100 !important;
		font-size: 28px;
	}
	
	padding-bottom: 0;
	margin-bottom: 35px;
	
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		font-size: 17px;
		height: auto;
		max-width: 100%;
		padding: 10px 10px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		outline: none !important;
	}
}
